@model List<SmartPortfolio.ViewModels.RoleUserViewModel>
<div class="row pt-4">
    <div class="col-9">
        <h3 class="text-success">@ViewBag.Role</h3>
    </div>
    <div class="col-12 text-lg-end">
        <a asp-controller="Panel" asp-action="RoleListUsersView" asp-route-Id="@ViewData["RoleId"]" class="btn btn-outline-success">Back To Role Users</a>
    </div>
    <br />
    <br />
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-hover" width="100%">
            <thead>
                <tr>
                    <th>Username</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="95%">@item.UserName</td>
                        <td width="5%">
                            <div class="w-100 btn-group" role="group">
                                <form method="post" asp-action="RoleAddUser" asp-controller="Panel">
                                    <input type="hidden" name="RoleId" value="@item.RoleId">
                                    <input type="hidden" name="UserId" value="@item.UserId">
                                    <input type="hidden" name="UserName" value="@item.UserName">
                                    <button type="submit" name="action" class="btn btn-outline-success">Add</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <br />
        <p><b>Not Found Result</b></p>
    }
</div>
